.nav-menu-items-small {
  width: 100%;
  padding-right: 40px;
  padding-left: 0px;

  img {
    width: 5;
    height: 3vw;
  }
}

.menu-bars-small {
  margin-left: 2.2rem;
  font-size: 2rem;
  background: none;
  display: flex;
  margin-bottom: 10px;
}

.small-nav {
  background-color: #323d41;
  width: 5vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 350ms;
  float: right;
  right: 0;
  box-shadow: -5px 0px 5px -3px #616161;
  svg {
    margin-right: 15px;
  }
}
.small-nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 60px;
  width: 5vw;
  margin-left: 25px;
}
.small-nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 5vw;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 30px;
  margin-left: -8px;
  float: right;
  direction: rtl;
  padding-right: 15px;
}
.small-nav-text a:hover {
  background-color: #d8dfe5;
  color: #2375d9;
}
.active-small-nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 60px;
  width: 5vw;
  margin-left: 25px;
}
.active-small-nav-text a {
  text-decoration: none;
  color: #2375d9;
  font-size: 18px;
  width: 5vw;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 30px;
  margin-left: -8px;
  float: right;
  direction: rtl;
  padding-right: 15px;
  background-color: #d8dfe5;
}
.small-nav.active {
  right: -100%;
  transition: 350ms;
  float: right;
}

.nav-menu {
  background-color: #323d41;
  width: 190px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  float: right;
  box-shadow: -5px 0px 5px -3px #616161;
  z-index: 999999;
}
.nav-menu.active {
  right: 0;
  transition: 350ms;
  float: right;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
  width: 190px;
  float: right;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 30px;
  margin-left: -8px;
  float: right;
  direction: rtl;
  padding-right: 15px;
}

.nav-text a:hover {
  background-color: #d8dfe5;
  color: #2375d9;
}

.active-nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
  width: 190px;
  float: right;
}
.active-nav-text a {
  text-decoration: none;
  color: #2375d9;
  background-color: #d8dfe5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 30px;
  margin-left: -8px;
  float: right;
  direction: rtl;
  padding-right: 15px;
}
.active-nav-text a:hover {
  background-color: #d8dfe5;
  color: #2375d9;
}

.nav-menu-items {
  width: 100%;
  padding-left: 8px;
  .closeIcon {
    color: white;
  }
}

.navbar-toggle {
  background-color: #323d41;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-right: 8px;
}
li {
  align-items: center;
}
.menu-bars {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  background: none;
  display: flex;
  margin-top: 8px;
  margin-bottom: 25px;
  color: black;
}

.frosted {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  width: calc(100vw - 190px);
  height: 100vh;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}
.fade-in {
  -webkit-animation: fade-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
