body {
  background-color: #ffffff;
  //background-image: url(../../assests/background/network.jpg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw 100vh;
  margin: 0px;
}

.Main {
  width: 93vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  .fullDashContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1vw;
    .search {
      margin: 0;
      padding: 0;
      .box {
        margin-top: 2vh;
        margin-bottom: 1.5vh;
        height: 40px;
        width: 20vw;
        min-width: min-content;
        padding-right: 10px;
        padding-left: 3px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        display: grid;

        backdrop-filter: blur(5px);
        background-color: transparent;
        border: none;
        border-radius: 30px;
        outline: none;
        color: none;
        grid-template-columns: 20% 80%;
        align-items: center;
        justify-content: center;
        align-content: center;
        color: gray;
        box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
        transition: 0.5s;

        .IPinput {
          backdrop-filter: blur(5px);
          text-align: center;
          background-color: transparent;
          border: none;
          border-radius: 30px;
          outline: none;
          color: none;
          font-size: 15px;
          padding-left: 20px;
        }

        .click {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          color: gray;
          font-size: 1.5rem;
          display: flex;
          display: grid;
          justify-content: center;
          align-content: center;
          cursor: pointer;
          transition: 0.5s;
          box-shadow: -5px -5px 8px #edeff1, 5px 5px 10px #cacfd8;
        }
        .click:hover {
          box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #cacfd8;
        }
      }
      .box:focus {
        box-shadow: -10px -10px 40px #edeff1, 10px 10px 40px #cacfd8;
      }
    }
    .Switch {
      margin-top: 2vh;
      border-radius: 5px;
      border: 1.5px solid #323d41;
      padding-left: 1.5vw;
      padding-right: 1.5vw;
      .wrapper {
        display: flex;
        justify-content: center;
        .portsName {
          text-align: center;
        }

        ul {
          list-style: none;
          display: grid;
          grid-auto-flow: column;
          grid-template-rows: repeat(2, 1fr);
          padding-inline-start: 0px;
          li {
            margin: 1px;
          }
          .pic {
            margin-right: 3vw;
          }
          .PortStatus {
            img {
              width: 1.7vw;
              height: 2.5vh;
              cursor: pointer;
              transition: 0.1s;
            }
            img:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
    .SwitchData {
      margin-top: 4vh;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1vw;
      width: 100%;
      .PortData {
        width: 100%;
        background-color: transparent;
        border-radius: 5px;
        border: 1.5px solid #323d41;
        display: grid;
        grid-template-rows: 1fr 1fr;
        .PortTableHeader {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          width: 100%;
          background-color: #323d41;
          h3 {
            font-size: 16px;
            font-family: sans-serif;
            color: white;
          }
        }
        .PortsTableData {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          width: 100%;
          h2 {
            font-size: 16px;
            font-family: sans-serif;
          }
        }
      }
      .OtherData {
        width: 100%;
        background-color: transparent;
        border-radius: 5px;
        border: 1.5px solid #323d41;
        display: grid;
        grid-template-rows: 1fr 1fr;
        .OtherDataHeader {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          background-color: #323d41;
          h3 {
            font-size: 16px;
            font-family: sans-serif;
            color: white;
          }
        }
        .OtherDataTableData {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          h2 {
            font-size: 16px;
            font-family: sans-serif;
          }
        }
      }
    }
    .ConfOptions {
      padding-top: 1vh;
      padding-bottom: 1vw;
      margin-top: 4vh;
      width: 100%;
      background-color: transparent;
      border-radius: 5px;
      border: 1.5px solid #323d41;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;
      .PortRangeSlider {
        width: 50%;
      }
      .VlanSelector {
        width: 50%;
      }
      .RestartPortButton {
        text-align: center;
        background-color: #febd16;
        width: 50%;
        height: 45%;
      }
      .ConfigButton {
        width: 50%;
        height: 45%;
        background-color: #febd16;
      }
    }
    //############ MyPort dash DIV ##############
    #descriptionTRUE {
      font-family: monospace;
      display: block;
      margin-bottom: 3px;
    }
    #descriptionFALSE {
      font-family: monospace;
      display: none;
    }
  }
}
